@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: #e8e8e4 !important;
}

.box {
  height: 80vh;
  background-color: #ffffff;
  opacity: 0.9;
}

.display-4,
.display-5 {
  font-weight: 600 !important;
}

.form-control:focus {
  border-color: inherit !important;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}

.country,
.date {
  color: #868a88;
}

.city,
.heading {
  color: #3b494f;
  padding: 0;
  margin: 0;
}
.temp {
  color: #0466c8;
}

.line {
  color: #6c757d;
  padding: 0 !important;
  margin: 0 !important;
}

.weather {
  color: #c9a227;
  text-transform: capitalize;
}

@media (min-width: 320px) and (max-width: 575px) {
  h1.temp {
    font-size: 3rem !important;
  }
}
