@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: url(img/bg-4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,
h2,
h3,
h4 {
  padding: 0 !important;
  margin: 0 !important;
}

.box {
  height: 80vh;
  background-color: #ffffff;
  opacity: 0.9;
}

.display-4 {
  font-weight: 600 !important;
}

.display-5 {
  font-weight: 600 !important;
}

.form-control:focus {
  border-color: inherit !important;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}

.date {
  color: #868a88;
}

.city {
  color: #868a88;
}

.name,
.heading {
  color: #3b494f;
}
.temp {
  color: #0466c8;
}

.line {
  color: #6c757d;
  padding: 0 !important;
  margin: 0 !important;
}

.weather {
  color: #c9a227;
}

@media all and (max-device-width: 991px) {
  .city {
    font-size: 2rem !important;
  }
  .temp {
    font-size: 1.5rem !important;
  }
  .weather {
    font-size: 1.5rem !important;
  }
  form .form-control {
    margin-top: -10px !important;
  }
}
